/*
*
* General
*
*/

* {
    margin: 0;
    padding: 0;
    /*temp?:*/
    font-family: Calibri, sans-serif; /*'Raleway', 'Helvetica', sans-serif;*/
    font-weight: 300;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 92%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.h2_h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

p,
li {
    font-size: 18px;
    line-height: 30px;
    max-height: 999999px;
}

p {
    margin-top: 10px;
}

ul, ol {
    margin-left: 20px;
}

ul > ul, ol > ol {
    margin-left: 20px;
}

.list_with_image_bullets {
    margin-left: 0;
    list-style: none;
}

.list_with_image_bullets>li {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}

.list_with_image_bullets>li>a {
    font-weight: 600;
}

.list_with_image_bullets>ul, .list_with_image_bullets>ol {
    margin-top: -5px;
    margin-left: 55px;
}

.list_with_image_bullets .cross {
    height: 26px;
}

.list_image {
    float: left;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 3px;
}

.float_left_50 {
    float: left;
    width: 50%;
}

.float_right_50 {
    float: right;
    width: 49%;
}

img {
    max-width: 100%;
}

.clear {
    clear: both;
}

.not_bold, .not_bold * {
    font-weight: 300 !important;
}

strong, .strong {
    font-weight: bold !important;
}

/*
Nav
*/

#nav-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-container {
    background-color: rgba(29, 29, 29, 0.85);
}

.nav-container > .wrapper {
    width: 100%;
    max-width: 1310px;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav li {
    width: 100%;
    height: 100%;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 19px;
}


/*TO-DO:, .nav li a:focus*/

.nav li a:hover {
    background-color: #151515;
}

/*
Quick nav and info
*/

.quick_nav, .quick_info {
    margin-top: 8px;
    margin-bottom: 8px;
}

.quick_nav img, .quick_info img {
    float: left;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 3px;
}

.quick_nav p, .quick_info p {
    font-size: 18px;
}

/*
Sections
*/

.section {
    position: relative;
    padding-top: 60px;
    background-color: rgba(18, 18, 18, 0.18);
}

.section > .wrapper {
    padding-top: 7px;
    padding-bottom: 30px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
}

.section:after {
    background-image: url('images/first_section_background.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E8E8E8;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    content: "";
    /*compatibility*/
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

#university_halls:after,
#private_housing:after {
    background-image: url('images/first_section_background2.jpg');
}

#footer {
    padding: 10px;
    /*temp:*/
    background-color: #212020;
    color: white;
    text-align: center;
}


/*
Maps and legends
*/

.map {
    display: inline-block;
    height: 700px;
    float: left;
}

.map>img {
    height: 100%;
}

.map_zoom_square {
    display: flex;
    float: right;
    width: 368px;
    height: 370px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 4px solid #e5e5e5;
}

@media(max-width: 1250px) {
    .map_zoom_square {
        display: none;
    }
}

.map_zoom_square p {
    text-align: center;
    font-size: 18px;
    color: #bcbcbc;
}

.legend {
    display: inline-block;
    float: left;
    margin-left: 3px;
    margin-right: 30px;
    list-style-type: none;
}

.legend_number {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #00de00;
    color: white;
    text-align: center;
}


/*
*
* Section 1 (home)
*
*/


/*
General
*/

#home {
    position: relative;
    /*background-color: #1d1d1d;*/
    background-color: rgba(18, 18, 18, 0.58);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#home > .wrapper {
    background-color: rgba(0, 0, 0, 0);
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*
Titles
*/

#home .titles {
    flex: 1 1 auto;
}

#home .titles h1 {
    margin-bottom: 20px;
    font-size: 63px;
    font-weight: 600;
}

#home .titles h2, #home .titles h2 span {
    margin-top: 2vh;
    font-size: 31px;
    font-weight: 100;
    font-family: 'Times New Roman';
}

#home .of {
    font-style: italic;
    margin-right: 5px;
}


/*
Primary tiles
*/

.primary_tiles {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.tile {
    display: inline-block;
    position: relative;
    width: 32%;
    height: 300px;
}

.tile_image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.tile_title_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /*background: rgba(0, 0, 0, 0.8);*/
}

.tile_title_container > p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    padding-left: 20px;
    color: white;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 22px;
    /*bold 40px/42px Raleway Helvetica, Sans-Serif;*/
    /*letter-spacing: -1px;*/
}


/*
Secondary tiles
*/

.secondary_tiles {
    flex: 1 1 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.long_tile,
.short_tile {
    display: block;
    position: relative;
}

.long_tiles_container {
    width: 66%;
}

.long_tile {
    height: 120px;
}

.long_tile:first-of-type {
    margin-bottom: 30px
}

.long_tile .tile_image {
    object-position: top;
}

.short_tile {
    height: 270px;
    width: 32%;
}

.short_tile .tile_image {
    object-position: center;
}


/*
Filler container
*/

.filler_container {
    flex: 1 1 auto;
}


/*
*
* Section 2 (University Halls)
*
*/

#university_halls .wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.map_locations {
    display: table;
    margin-top: 15px;
}

.postgraduates {
    margin-top: 30px;
}

.postgraduates .legend_number {
    background-color: #ff00b1;
}


/*
*
* Section 4 (Private Halls)
*
*/

#private_halls ul>li {
    font-weight: 300;
}

/*
*
* Section 4 (Private Housing)
*
*/

.private_housing_map_and_legend {
    margin-top: 15px;
}

.private_housing_map {
    display: inline-block;
    float: left;
    width: 60%;
    height: 500px;
    border: none;
}

.private_housing_legend {
    display: inline-block;
    float: right;
    width: 38%;
}

.private_housing_legend ul li {
    font-weight: bold;
}


/*
*
* Section 5 (FAQ)
*
*/

#links_and_faq {
    padding-bottom: 50px;
}

.faq_questions {
    list-style: none;
    margin-left: 0;
}

.faq_questions>li {
    font-weight: bold;
}