/*
*
* General
*
*/

* {
    margin: 0;
    padding: 0;
    /*temp?:*/
    font-family: 'Raleway', 'Helvetica', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #F0F0F0;
}

.wrapper {
    width: 95%;
    max-width: 1450px;
    margin: 0 auto;
}


/*
Nav
*/

#nav-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-container {
    background-color: #585858;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav li {
    width: 100%;
    height: 100%;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Raleway', 'Helvetica', sans-serif;
}

.nav li a:hover
/*TO-DO:, .nav li a:focus*/

{
    background-color: #363636;
}


/*
Sections
*/

.section {
    padding-top: 40px;
    /*temp:*/
    min-height: 900px;
}

.section h2 {
    font-size: 30px;
    line-height: 70px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

#university_halls,
#private_housing {
    background-color: #fdfdfd;
    /* just playing around */
}

#footer {
    padding: 10px;
    /*temp:*/
    min-height: 50px;
    background-color: #585858;
    color: white;
    text-align: center;
}


/*
*
* Section 1 (home)
*
*/


/*
 General
*/

#home {
    padding-top: 1px;
    padding-bottom: 300px;
    position: relative;
}

#home:after {
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E8E8E8;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    content: "";
    /*filter: blur(20px);
    compatibility
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    */
}

#home h1 {
    margin-bottom: 70px;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    color: #202020;
}

#home h2 {
    margin-top: 70px;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    color: #202020;
}


/*
 Tiles
*/

.tiles {
    display: flex;
    justify-content: space-between;
}

.tile {
    display: inline-block;
    position: relative;
    width: 32%;
    height: 350px;
}

.tile_image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.tile_title_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /*background: rgba(0, 0, 0, 0.8);*/
}

.tile_title_container > p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    padding-left: 20px;
    color: white;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 22px;
    /*bold 40px/42px Raleway Helvetica, Sans-Serif;*/
    /*letter-spacing: -1px;*/
}


/*
Secondary tiles
*/

.secondary_tiles {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.long_tile {
    width: 66%;
}

.short_tile {
    width: 32%;
}

.long_tile,
.short_tile {
    display: inline-block;
    position: relative;
    height: 130px;
}

.long_tile .tile_image {
    object-position: top;
}

.short_tile .tile_image {
    object-position: center;
}


/*
*
* Section 2 (university halls)
*
*/

#university_halls {}